<!-- Login Form -->
<form method="POST" name="loginForm" id="form-login" class="form-horizontal form-bordered form-control-borderless" novalidate ng-submit="">
  <div class="form-group">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
        <input type="email" id="login-email" ng-model="user.email" ng-pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' class="form-control input-lg" placeholder="Email" required>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
        <input type="password" id="login-password" ng-model="user.passwd" class="form-control input-lg" placeholder="Password" required>
      </div>
    </div>
  </div>
  <div class="form-group form-actions">
    <div class="col-xs-12 text-right">
      <button ng-click="login(user)" class="btn btn-sm btn-primary"><i class="fa fa-sign-in fa-fw"></i> Login to Dashboard</button>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12 text-center">
      <a href="#forgot" id="link-reminder-login"><small>Forgot password?</small></a> -
      <a href="#signup" id="link-register-login"><small>Create a new account</small></a>
    </div>
  </div>
</form>
<!-- END Login Form -->
