<!-- Login Form -->
<form method="POST" name="loginForm" class="form-horizontal form-bordered form-control-borderless" novalidate ng-submit="submit()">
  <div class="form-group">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
        <input type="email" name="email" ng-model="user.email" class="form-control input-lg" placeholder="Email" required email-validator>
          <div class="error-message" ng-messages="loginForm.email.$error" ng-if="loginForm.email.$dirty">
            <div ng-message="required">请输入 Email</div>
            <div ng-message="email-validator">SSSS</div>
          </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
        <input type="password" name="passwd" ng-model="user.passwd" class="form-control input-lg" placeholder="Password" required>
        <div ng-messages="loginForm.passwd.$error" ng-if="loginForm.passwd.$dirty">
          <div ng-message="required">请输入密码</div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group form-actions">
    <div class="col-xs-12 text-right">
      <button class="btn btn-sm btn-primary"><i class="fa fa-sign-in fa-fw"></i> Login to Dashboard</button>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12 text-center">
      <a href="#forgot"><small>Forgot password?</small></a> -
      <a href="#signup"><small>Create a new account</small></a>
    </div>
  </div>
</form>
<!-- END Login Form -->
