<!-- Register Form -->
<form method="post" id="form-register" class="form-horizontal form-bordered form-control-borderless">
  <div class="form-group">
    <div class="col-xs-6">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
        <input type="text" id="register-firstname" name="register-firstname" class="form-control input-lg" placeholder="Firstname">
      </div>
    </div>
    <div class="col-xs-6">
      <input type="text" id="register-lastname" name="register-lastname" class="form-control input-lg" placeholder="Lastname">
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
        <input type="text" id="register-email" name="register-email" class="form-control input-lg" placeholder="Email">
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
        <input type="password" id="register-password" name="register-password" class="form-control input-lg" placeholder="Password">
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
        <input type="password" id="register-password-verify" name="register-password-verify" class="form-control input-lg" placeholder="Verify Password">
      </div>
    </div>
  </div>
  <div class="form-group form-actions">
    <div class="col-xs-6">
      <a href="/terms" data-toggle="modal" class="register-terms">Terms</a>
      <label class="switch switch-primary" data-toggle="tooltip" title="Agree to the terms">
        <input type="checkbox" id="register-terms" name="register-terms">
        <span></span>
      </label>
    </div>
    <div class="col-xs-6 text-right">
      <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-plus-square"></i> Register Account</button>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12 text-center">
      <small>Do you have an account?</small> <a href="#" id="link-register"><small>Login</small></a>
    </div>
  </div>
</form>
<!-- END Register Form -->
