<div class="navbar-inner">
    <div class="container">
        <div>
            <!-- Logo -->
            <a href="/"><img src="/static/images/logo.png" class="logo" style="height:75px;width:172px">
            </a>
            <!-- End Logo -->

            <!-- Search Form -->
            <form method="POST" class="search-form">
                <div class="form-group">
                    <input type="text" class="search-input" placeholder="Search..." autocapitalize="off">
                </div>
            </form>
            <!-- END Search Form -->
        </div>

        <!-- Links -->
        <div class="nav-clilapse pull-left">
            <ul class="nav navbar-nav-custom">
                <li>
                    <a href="/repos">Repositories</a>
                </li>
                <li>
                    <a href="/compose">Composes</a>
                </li>
                <li>
                    <a href="/blog">Documents</a>
                </li>
                <li>
                    <a href="/help">Help</a>
                </li>
            </ul>
        </div>
        <!-- End Links -->

        <!-- Tools -->
        <div class="pull-right">
            <ul class="nav navbar-nav-fa">
                <li>
                    <a href=""><i class="fa fa-user fa-fw"></i>&nbsp;<<<.username>>></a>
                </li>
                <li>
                    <a href="/admin/signout"> <i class="fa fa-sign-out fa-3x"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End Tools -->
    </div>
</div>