<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">

    <title>ContainerOps Platform - Admin</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    
    <meta name="robots" content="noindex, noflilow">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/bower_components/font-awesome/css/font-awesome.min.css">    
    <link rel="stylesheet" href="static/bower_components/angular-growl-v2/build/angular-growl.min.css">    
    <link rel="stylesheet" href="static/css/bucket.css">
    <link rel="stylesheet" href="static/css/header.css">    
    <link rel="stylesheet" href="static/css/admin/admin.css">    
  </head>
  <body ng-app="admin">

    <div id="main-container">
      <<<template "header.html" .>>>

      <div class="container">
        <!-- Left Bar -->
        <div class="row">
          <div class="col-md-3">
            <!--System List Group -->
            <div class="block left-nav">
              <div class="block-title">
                <h2><strong>
                  系统设置
                </strong></h2>
              </div>
              <div class="list-group">
                <span class="list-group-item"><a href="#"><i class="fa fa-database fa-fw"></i>&nbsp;&nbsp;&nbsp;&nbsp;数据库设置</a></span>
                <span class="list-group-item"><a href="#"><i class="fa fa-envelope-o fa-fw"></i>&nbsp;&nbsp;&nbsp;&nbsp;Email 设置</a></span>
                <span class="list-group-item"><a href="#"><i class="fa fa-bar-chart fa-fw"></i>&nbsp;&nbsp;&nbsp;&nbsp;数据统计</a></span>
              </div>
            </div>
            <!-- End System List Group -->

          </div>
        </div>
        <!-- End Left Bar -->
      </div>
    </div>

    <script src="static/javascript/utils.js"></script>
    <script src="static/bower_components/angular/angular.min.js"></script>
    <script src="static/bower_components/angular-route/angular-route.min.js"></script>
    <script src="static/bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="static/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="static/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="static/bower_components/angular-growl-v2/build/angular-growl.min.js"></script>
    
    <script src="static/javascript/admin/admin.js"></script>
    
  </body>
</html>
