<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">

    <title>Docker Bucket - signup|signin</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    
    <meta name="description" content="<<<.description>>>">
    <meta name="author" content="<<<.author>>>">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <!-- Icons -->
    <link rel="shortcut icon" href="">
    <link rel="apple-touch-icon" href="" sizes="57x57">
    <link rel="apple-touch-icon" href="" sizes="72x72">
    <link rel="apple-touch-icon" href="" sizes="76x76">
    <link rel="apple-touch-icon" href="" sizes="114x114">
    <link rel="apple-touch-icon" href="" sizes="120x120">
    <link rel="apple-touch-icon" href="" sizes="144x144">
    <link rel="apple-touch-icon" href="" sizes="152x152">
    <!-- END Icons -->
    <link rel="stylesheet" href="static/flat_components/dist/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bucket.css"> 
    <link rel="stylesheet" href="static/bower_components/font-awesome/css/font-awesome.min.css">    
    <link rel="stylesheet" href="static/bower_components/angular-growl-v2/build/angular-growl.min.css">    
    <link rel="stylesheet" href="static/css/auth/auth.css">
 
  </head>
  <body ng-app="auth">
    <img src="static/images/auth/bg.jpg" alt="Auth Full Background" class="full-bg animation-pulseSlow">

    <!-- Auth Container  -->
    <div id="login-container" class="animation-fadeIn">

      <!-- Auth Title -->
      <div class="login-title text-center">
        <img src="static/images/logo-white.png" alt="Docker Bucket" class="title-logo">
      </div>
      <!-- END Auth Title -->

      <div class="block push-bit" ng-view></div>
      <div growl></div>
      
    </div>

    
    
    <script src="static/javascript/utils.js"></script>  
    <script src="static/bower_components/angular/angular.min.js"></script>
    <script src="static/bower_components/angular-route/angular-route.min.js"></script>
    <script src="static/bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="static/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="static/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="static/bower_components/angular-growl-v2/build/angular-growl.min.js"></script>
    <script src="static/flat_components/dist/js/vendor/jquery.min.js"></script>
    <script src="static/flat_components/dist/js/flat-ui.min.js"></script>
    <script src="static/flat_components/docs/assets/js/application.js"></script>
    <script src="static/javascript/auth/auth.js"></script>
  </body>
</html>
