<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">

    <title>ContainerOps Platform - Auth</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/bower_components/font-awesome/css/font-awesome.min.css">    
    <link rel="stylesheet" type="text/css" href="/static/bower_components/angular-growl-v2/build/angular-growl.min.css">
    <link rel="stylesheet" type="text/css" href="/static/bower_components/flat-ui/dist/css/flat-ui.min.css">    
    <link rel="stylesheet" type="text/css" href="/static/css/auth/auth.css">
  </head>
  <body ng-app="auth">
    <img src="/static/images/auth/bg.jpg" alt="" class="full-bg">

    <!-- Auth Container  -->
    <div id="login-container" class="animation-fadeIn">

      <!-- Auth Title -->
      <div class="login-title text-center">
        <img src="/static/images/logo.png" alt="Wharf Is Open Source ContainerOps Platform" style="height:50px;width:310px;">
      </div>
      <!-- END Auth Title -->

      <div class="block" ng-view></div>
      <div growl></div>
      
    </div>
   
    <script type="text/javascript" src="/static/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular-growl-v2/build/angular-growl.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/flat-ui/dist/js/flat-ui.min.js"></script>
    <script type="text/javascript" src="/static/javascript/utils.js"></script>  
    <script type="text/javascript" src="/static/javascript/auth/auth.js"></script>
  </body>
</html>
