<div class="navbar-inner">
    <div class="container">
        <div>
            <!-- Logo -->
            <a href="/"><img src="/static/images/logo.png" class="logo" style="height:75px;width:172px">
            </a>
            <!-- End Logo -->

            <!-- Search Form -->
            <form method="POST" class="search-form">
                <div class="form-group">
                    <input type="text" class="search-input" placeholder="Search..." autocapitalize="off">
                </div>
            </form>
            <!-- END Search Form -->
        </div>

        <!-- Tools -->
        <div class="pull-right">
          <ul class="nav navbar-nav-fa">
            <li>
              <a href="/auth"><button type="button" class="btn btn-sm btn-default">Sign In</button></a>
            </li>
            <li>
              <a href="/auth#/signup"><button type="button" class="btn btn-sm btn-primary">Sign Up</button></a>
            </li>
          </ul>
        </div>
        <!-- End Tools -->
    </div>
</div>
