<div class="ui one column page grid">
  <div class="column">
    <div class="segment">
      <h2>社区合作伙伴和赞助商</h2>
    </div>
    <div class="ui images sponsor">
      <a href="http://code.csdn.net" alt="CSDN CODE"><img style="width:144px;height:60px;" src="http://dockboard.qiniudn.com/csdn_logo.png"></a>
      <a href="http://www.hwclouds.com" alt="华为云服务"><img style="margin-top:10px;" src="http://dockboard.qiniudn.com/huawei_logo.jpg"></a>
      <a href="https://mos.meituan.com" alt="美团云"><img style="margin-top:10px;" src="http://dockboard.qiniudn.com/meituan_logo.png"></a>
      <a href="http://www.qiniu.com" alt="七牛云存储"><img style="margin-top:10px;" src="http://dockboard.qiniudn.com/qiniu_logo.png"></a>      
      <a href="https://www.qcloud.com" alt="腾讯云"><img style="width:98px;height:60px;margin-top:10px;" src="http://dockboard.qiniudn.com/qcloud_logo.png"></a>
      <a href="https://www.ucloud.cn" alt="UCloud"><img style="margin-top:10px;" src="http://dockboard.qiniudn.com/ucloud-logo.png"></a>      
    </div>
  </div>

</div>
