<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">

    <title>ContainerOps Platform - Content, Collaboration, Workflows and More</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/bower_components/angular-growl-v2/build/angular-growl.min.css">
    <link rel="stylesheet" type="text/css" href="/static/bower_components/jquery-ui-boostrap/css/custom-theme/jquery-ui-1.10.3.custom.css">
    <link rel="stylesheet" type="text/css" href="/static/bower_components/flat-ui/dist/css/flat-ui.min.css">    
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index/index.css">
  </head>
  <body>
    <div id="main-container">
      <<<template "header-before.html" .>>>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <img src="/static/images/index/bg.png" alt="containerops.me" class="banner">
          </div>
        </div>
      </div>
      
    </div>
    <script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/angular-growl-v2/build/angular-growl.min.js"></script>
  </body>
</html>
