<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">

    <title>Docker Bucket - 用户设置</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    
    <meta name="description" content="<<<.description>>>">
    <meta name="author" content="<<<.author>>>">
    <meta name="robots" content="noindex, noflilow">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <!-- Icons -->
    <link rel="shortcut icon" href="">
    <link rel="apple-touch-icon" href="" sizes="57x57">
    <link rel="apple-touch-icon" href="" sizes="72x72">
    <link rel="apple-touch-icon" href="" sizes="76x76">
    <link rel="apple-touch-icon" href="" sizes="114x114">
    <link rel="apple-touch-icon" href="" sizes="120x120">
    <link rel="apple-touch-icon" href="" sizes="144x144">
    <link rel="apple-touch-icon" href="" sizes="152x152">
    <!-- END Icons -->

    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/bower_components/font-awesome/css/font-awesome.min.css">    
    <link rel="stylesheet" href="static/bower_components/angular-growl-v2/build/angular-growl.min.css">    
    <link rel="stylesheet" href="static/css/bucket.css">
    <link rel="stylesheet" href="static/css/header.css">    
    <link rel="stylesheet" href="static/css/setting/setting.css">    
  </head>
  <body ng-app="setting">

    <div id="main-container">
      <<<template "header.html" .>>>

      <div class="container">
        <!-- Left Bar -->
        <div class="row">
          <div class="col-md-3">
            <!-- Personal List Group --> 
            <div class="block left-nav">
              <div class="block-title">
                <h2><strong>
                  个人设置
                </strong></h2>
              </div>
              <div class="list-group">
                <span class="list-group-item"><a href="#"><i class="fa fa-user fa-fw"></i>&nbsp;&nbsp;&nbsp;&nbsp;个人信息</a></span>
                <span class="list-group-item"><a href="#"><i class="fa fa-key fa-fw"></i> &nbsp;&nbsp;&nbsp;&nbsp;账户设置</a></span>
                <span class="list-group-item"><a href="#"><i class="fa fa-envelope-o fa-fw"></i> &nbsp;&nbsp;&nbsp;&nbsp;Email 设置</a></span>
                <span class="list-group-item"><a href="#"><i class="fa fa-bell-o fa-fw"></i> &nbsp;&nbsp;&nbsp;&nbsp;通知设置</a></span>
                <span class="list-group-item"><a href="#"><i class="fa fa-btc fa-fw"></i> &nbsp;&nbsp;&nbsp;&nbsp;账单设置</a></span>
                <span class="list-group-item"><a href="#"><i class="fa fa-gear fa-fw"></i> &nbsp;&nbsp;&nbsp;&nbsp;应用绑定</a></span>
                <span class="list-group-item"><a href="#"><i class="fa fa-bar-chart fa-fw"></i> &nbsp;&nbsp;&nbsp;&nbsp;数据统计</a></span>
              </div>
            </div>
            <!-- End Personal List Group -->

            <!-- Org List Group -->
            <div class="block left-nav">
              <div class="block-title">
                <h2><strong>
                  组织设置
                </strong></h2>
              </div>
            </div>
            <!-- End Org List Group -->

          </div>
        </div>
        <!-- End Left Bar -->
      </div>
    </div>

    <script src="static/javascript/utils.js"></script>
    <script src="static/bower_components/angular/angular.min.js"></script>
    <script src="static/bower_components/angular-route/angular-route.min.js"></script>
    <script src="static/bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="static/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="static/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="static/bower_components/angular-growl-v2/build/angular-growl.min.js"></script>
    
    <script src="static/javascript/setting/setting.js"></script>
    
  </body>
</html>
