<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">

    <title>ContainerOps Platform - Settings </title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">

    <meta name="robots" content="noindex, noflilow">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/bower_components/angular-growl-v2/build/angular-growl.min.css">
    <link rel="stylesheet" href="/static/bower_components/jquery-ui-boostrap/css/custom-theme/jquery-ui-1.10.0.custom.css">
    <link rel="stylesheet" href="/static/css/bucket.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/setting/setting.css">
</head>

<body>

    <div id="main-container">
        <<<template "header.html" .>>>

            <div class="container" ng-app="setting">
                <!-- Left Bar -->
                <div class="row">
                    <div class="col-md-3">
                        <!-- Personal List Group -->
                        <div class="block left-nav">
                            <div class="block-title">
                                <h2><strong>
                  Personal Settings
                </strong></h2>
                            </div>
                            <div class="list-group">
                                <span class="list-group-item"><a href="#profile"><i class="fa fa-user fa-fw"></i>&nbsp;&nbsp;&nbsp;&nbsp;Profile</a></span>
                                <span class="list-group-item"><a href="#account"><i class="fa fa-key fa-fw"></i> &nbsp;&nbsp;&nbsp;&nbsp;Account</a></span>
                                <span class="list-group-item"><a href="#emails"><i class="fa fa-envelope-o fa-fw"></i> &nbsp;&nbsp;&nbsp;&nbsp;Emails</a></span>
                                <span class="list-group-item"><a href="#notification"><i class="fa fa-bell-o fa-fw"></i> &nbsp;&nbsp;&nbsp;&nbsp;Notification</a></span>
                                <span class="list-group-item"><a href="#"><i class="fa fa-btc fa-fw"></i> &nbsp;&nbsp;&nbsp;&nbsp;Billing</a></span>
                                <span class="list-group-item"><a href="#"><i class="fa fa-gear fa-fw"></i> &nbsp;&nbsp;&nbsp;&nbsp;Application Binding</a></span>
                                <span class="list-group-item"><a href="#"><i class="fa fa-bar-chart fa-fw"></i> &nbsp;&nbsp;&nbsp;&nbsp;Data Statistic</a></span>
                            </div>
                        </div>
                        <!-- End Personal List Group -->

                        <!-- Org List Group -->
                        <div ng-controller="OrganizationListCtrl">
                            <div class="block left-nav" ng-repeat="x in organizaitons">
                                <div class="block-title">
                                    <h2><strong>{{ x.organization }} Settings</strong></h2>
                                </div>
                                <div class="list-group">
                                    <span class="list-group-item"><a ng-href="#organization/{{x.organization}}"><i class="fa fa-sitemap fa-fw"></i>&nbsp;&nbsp;&nbsp;&nbsp;Organization</a></span>
                                    <span class="list-group-item"><a href="#team"><i class="fa fa-users fa-fw"></i> &nbsp;&nbsp;&nbsp;&nbsp;Team</a></span>
                                    <span class="list-group-item"><a href="#competence"><i class="fa fa-inbox fa-fw"></i> &nbsp;&nbsp;&nbsp;&nbsp;Competence</a></span>
                                </div>
                            </div>
                        </div>
                        <!-- End Org List Group -->
                    </div>
                    <!--manage start-->
                    <div class="col-md-9" ng-view>
                    </div>
                    <!--manage end-->
                    <div growl></div>
                </div>
                <!-- End Left Bar -->
            </div>
    </div>

    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower_components/angular/angular.min.js"></script>
    <script src="/static/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/static/bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="/static/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="/static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/static/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/static/bower_components/angular-growl-v2/build/angular-growl.min.js"></script>
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/bower_components/jquery-ui-boostrap/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="/static/bower_components/ng-file-upload/angular-file-upload.js"></script>
    <script src="/static/bower_components/ng-file-upload/angular-file-upload-shim.min.js"></script>
    <script src="/static/javascript/utils.js"></script>
    <script src="/static/javascript/setting/setting.js"></script>
</body>

</html>
