.login{
  margin-top: 2rem;
}

.header-menu {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: normal !important;
  font-size: 2em;
  margin-top: 1.8rem;
  margin-right: 6rem;
}

.header-menu .item {
  margin-right: 2rem;
}

.header-menu a {
  color: #009FDA;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.header-menu a:hover {
  color: #00BAFF;
}
