<div class="block right-div">
    <div class="block-title">
        <h2><strong class="block-title-setting">
                  Add Repository
                </strong></h2>
    </div>
    <form name="repoCreateForm" class="repoCreateForm" ng-submit="createRepo()">
        <div class="form-group">
            <div class="form-title">
                <lable><strong>Namespace (optional) and Repository Name:</strong>
                </lable>
            </div>
            <div class="form-content">
                <select class="form-control" ng-model="repository.namespace" ng-options="namespace for namespace in namespaces"></select>

                <div class="slash">/</div>

                <input class="" type="text" placeholder="Repository Name" name="repository" ng-model="repository.repository" required namespace-validator>
                <div class="error-message" ng-messages="repoCreateForm.repository.$error" ng-if="repoCreateForm.repository.$dirty">
                    <div ng-message="required">Please enter your repository.</div>
                    <div ng-message="usernames">Please enter a valid repository.</div>
                </div>
                <p>New unique Repo name; 3 - 30 characters. Only lowercase letters, digits and _ - . characters are allowed</p>
            </div>
        </div>
        <div class="form-group">
            <div class="form-title">
                <lable><strong>Short Description</strong>
                </lable>
            </div>
            <div class="form-content">
                <input class="form-control repoCreateDesc" type="text" name="short" style="width:460px;" ng-model="repository.short" ng-maxlength="100">
                <div ng-messages="repoCreateForm.short.$error" ng-if="repoCreateForm.short.$dirty">
                    <div ng-message="maxlength">short is too long (maximum is 100 characters).</div>
                </div>
                <p>Limit 100 Characters</p>
            </div>
        </div>
        <div class="form-group">
            <div class="form-title">
                <lable><strong>Repository Type:</strong>
                </lable> 
            </div>
            <div class="form-content repoCreateFormAuthority">
                <div class="btn-group">
                    <label ng-repeat="value in privated.values" ng-class="{btn: true, 'btn-primary': true,active: value.code == privated.selection.code}">
                        <input type="radio" class="hidden" name="myTestRadio" ng-model="privated.selection" ng-value="value" />{{value.name}}
                    </label>
                </div>
                <p>Anyone can pull this repository and it will be listed and searchable for public use.</p>
            </div>
        </div>
        <div class="form-group">
            <button class="addRepoBtn" type="submit" ng-disabled="addPrivilege">Add Repository</button>
            <a class="cancelRepoBtn" href="/dashboard">Cancel</a>
        </div>
    </form>
</div>