<div class="block right-div">
    <div class="block-title">
        <h2><strong class="block-title-setting">
                  Repositories
                </strong></h2>
    </div>
    <div class="block-content">
        <div class="row">
            <div class="repositoriesArea">
                <div class="col-md-3 repositoryBox repoPrivate">
                    <p class="repositoryBoxTime">8 hours ago</p>
                    <span class="repositoryBoxNamespace"><strong><i class="fa fa-lock fa-2"></i>&nbsp;&nbsp;disco</strong></span>
                    <p class="repositoryBoxDesc">Disco is a simple visual GitHub browser with pull request support.</p>
                    <div class="repositoryBoxIcon">
                        <i class="fa fa-cloud-download fa-3 icon1">&nbsp;</i><span class="iconTitle first">33</span>
                        <i class="fa fa-star fa-2 icon2">&nbsp;</i><span class="iconTitle">33</span>
                    </div>
                </div>
                <div class="col-md-3 repositoryBox repoPrivate">
                    <p class="repositoryBoxTime">8 hours ago</p>
                    <span class="repositoryBoxNamespace"><strong><i class="fa fa-lock fa-2"></i>&nbsp;&nbsp;disco</strong></span>
                    <p class="repositoryBoxDesc">Disco is a simple visual GitHub browser with pull request support.</p>
                    <div class="repositoryBoxIcon">
                        <i class="fa fa-cloud-download fa-3 icon1">&nbsp;</i><span class="iconTitle first">33</span>
                        <i class="fa fa-star fa-2 icon2">&nbsp;</i><span class="iconTitle">33</span>
                    </div>
                </div>
                <div class="col-md-3 repositoryBox">
                    <p class="repositoryBoxTime">8 hours ago</p>
                    <span class="repositoryBoxNamespace"><strong><i class="fa fa-lock fa-2"></i>&nbsp;&nbsp;disco</strong></span>
                    <p class="repositoryBoxDesc">Disco is a simple visual GitHub browser with pull request support.</p>
                    <div class="repositoryBoxIcon">
                        <i class="fa fa-cloud-download fa-3 icon1">&nbsp;</i><span class="iconTitle first">33</span>
                        <i class="fa fa-star fa-2 icon2">&nbsp;</i><span class="iconTitle">33</span>
                    </div>
                </div>
                <div class="col-md-3 repositoryBox">
                    <p class="repositoryBoxTime">8 hours ago</p>
                    <span class="repositoryBoxNamespace"><strong><i class="fa fa-lock fa-2"></i>&nbsp;&nbsp;disco</strong></span>
                    <p class="repositoryBoxDesc">Disco is a simple visual GitHub browser with pull request support.</p>
                    <div class="repositoryBoxIcon">
                        <i class="fa fa-cloud-download fa-3 icon1">&nbsp;</i><span class="iconTitle first">33</span>
                        <i class="fa fa-star fa-2 icon2">&nbsp;</i><span class="iconTitle">33</span>
                    </div>
                </div>
                 <div class="col-md-3 repositoryBox">
                    <p class="repositoryBoxTime">8 hours ago</p>
                    <span class="repositoryBoxNamespace"><strong><i class="fa fa-lock fa-2"></i>&nbsp;&nbsp;disco</strong></span>
                    <p class="repositoryBoxDesc">Disco is a simple visual GitHub browser with pull request support.</p>
                    <div class="repositoryBoxIcon">
                        <i class="fa fa-cloud-download fa-3 icon1">&nbsp;</i><span class="iconTitle first">33</span>
                        <i class="fa fa-star fa-2 icon2">&nbsp;</i><span class="iconTitle">33</span>
                    </div>
                </div>
                 <div class="col-md-3 repositoryBox">
                    <p class="repositoryBoxTime">8 hours ago</p>
                    <span class="repositoryBoxNamespace"><strong><i class="fa fa-lock fa-2"></i>&nbsp;&nbsp;disco</strong></span>
                    <p class="repositoryBoxDesc">Disco is a simple visual GitHub browser with pull request support.</p>
                    <div class="repositoryBoxIcon">
                        <i class="fa fa-cloud-download fa-3 icon1">&nbsp;</i><span class="iconTitle first">33</span>
                        <i class="fa fa-star fa-2 icon2">&nbsp;</i><span class="iconTitle">33</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="repositoryAreaSecond">
                <a href="#" class="col-md-10 repositoryBlock repoPrivate">
                    <div class="repo-list-item-img">
                        <img src="https://secure.gravatar.com/avatar/d1b6700884ac0ae368918ad171bb6a75.jpg?s=200&amp;d=mm" class="profile">
                    </div>
                    <div class="repo-list-item-content">
                        <div class="repo-list-item-content-t">
                            <div class="repo-list-item-content-title"><i class="fa fa-lock fa-2"></i>&nbsp;&nbsp;chliang2030598/Disco</div>
                            <p class="repo-list-item-content-desc">Disco is a simple visual GitHub browser with pull request support.</p>
                        </div>
                        <div class="repo-list-item-content-time">10 minutes ago</div>
                    </div>
                    <div class="repo-list-item-icons">
                         <i class="fa fa-cloud-download fa-3 icon1">&nbsp;</i><span class="iconTitle first">33</span>
                        <i class="fa fa-star fa-2 icon2">&nbsp;</i><span class="iconTitle">33</span>
                    </div>
                </a>
                <a href="#" class="col-md-10 repositoryBlock repoPrivate">
                    <div class="repo-list-item-img">
                        <img src="https://secure.gravatar.com/avatar/d1b6700884ac0ae368918ad171bb6a75.jpg?s=200&amp;d=mm" class="profile">
                    </div>
                    <div class="repo-list-item-content">
                        <div class="repo-list-item-content-t">
                            <div class="repo-list-item-content-title"><i class="fa fa-lock fa-2"></i>&nbsp;&nbsp;chliang2030598/Disco</div>
                            <p class="repo-list-item-content-desc">Disco is a simple visual GitHub browser with pull request support.</p>
                        </div>
                        <div class="repo-list-item-content-time">10 minutes ago</div>
                    </div>
                    <div class="repo-list-item-icons">
                         <i class="fa fa-cloud-download fa-3 icon1">&nbsp;</i><span class="iconTitle first">33</span>
                        <i class="fa fa-star fa-2 icon2">&nbsp;</i><span class="iconTitle">33</span>
                    </div>
                </a>
                <a href="#" class="col-md-10 repositoryBlock">
                    <div class="repo-list-item-img">
                        <img src="https://secure.gravatar.com/avatar/d1b6700884ac0ae368918ad171bb6a75.jpg?s=200&amp;d=mm" class="profile">
                    </div>
                    <div class="repo-list-item-content">
                        <div class="repo-list-item-content-t">
                            <div class="repo-list-item-content-title">chliang2030598/Disco</div>
                            <p class="repo-list-item-content-desc">Disco is a simple visual GitHub browser with pull request support.</p>
                        </div>
                        <div class="repo-list-item-content-time">10 minutes ago</div>
                    </div>
                    <div class="repo-list-item-icons">
                         <i class="fa fa-cloud-download fa-3 icon1">&nbsp;</i><span class="iconTitle first">33</span>
                        <i class="fa fa-star fa-2 icon2">&nbsp;</i><span class="iconTitle">33</span>
                    </div>
                </a>
                <a href="#" class="col-md-10 repositoryBlock">
                    <div class="repo-list-item-img">
                        <img src="https://secure.gravatar.com/avatar/d1b6700884ac0ae368918ad171bb6a75.jpg?s=200&amp;d=mm" class="profile">
                    </div>
                    <div class="repo-list-item-content">
                        <div class="repo-list-item-content-t">
                            <div class="repo-list-item-content-title">chliang2030598/Disco</div>
                            <p class="repo-list-item-content-desc">Disco is a simple visual GitHub browser with pull request support.</p>
                        </div>
                        <div class="repo-list-item-content-time">10 minutes ago</div>
                    </div>
                    <div class="repo-list-item-icons">
                       <i class="fa fa-cloud-download fa-3 icon1">&nbsp;</i><span class="iconTitle first">33</span>
                        <i class="fa fa-star fa-2 icon2">&nbsp;</i><span class="iconTitle">33</span>
                    </div>
                </a>
                <a href="#" class="col-md-10 repositoryBlock">
                    <div class="repo-list-item-img">
                        <img src="https://secure.gravatar.com/avatar/d1b6700884ac0ae368918ad171bb6a75.jpg?s=200&amp;d=mm" class="profile">
                    </div>
                    <div class="repo-list-item-content">
                        <div class="repo-list-item-content-t">
                            <div class="repo-list-item-content-title">chliang2030598/Disco</div>
                            <p class="repo-list-item-content-desc">Disco is a simple visual GitHub browser with pull request support.</p>
                        </div>
                        <div class="repo-list-item-content-time">10 minutes ago</div>
                    </div>
                    <div class="repo-list-item-icons">
                        <i class="fa fa-cloud-download fa-3 icon1">&nbsp;</i><span class="iconTitle first">33</span>
                        <i class="fa fa-star fa-2 icon2">&nbsp;</i><span class="iconTitle">33</span>
                    </div>
                </a>
                <a href="#" class="col-md-10 repositoryBlock">
                    <div class="repo-list-item-img">
                        <img src="https://secure.gravatar.com/avatar/d1b6700884ac0ae368918ad171bb6a75.jpg?s=200&amp;d=mm" class="profile">
                    </div>
                    <div class="repo-list-item-content">
                        <div class="repo-list-item-content-t">
                            <div class="repo-list-item-content-title">chliang2030598/Disco</div>
                            <p class="repo-list-item-content-desc">Disco is a simple visual GitHub browser with pull request support.</p>
                        </div>
                        <div class="repo-list-item-content-time">10 minutes ago</div>
                    </div>
                    <div class="repo-list-item-icons">
                       <i class="fa fa-cloud-download fa-3 icon1">&nbsp;</i><span class="iconTitle first">33</span>
                        <i class="fa fa-star fa-2 icon2">&nbsp;</i><span class="iconTitle">33</span>
                    </div>
                </a>
                <nav class>
                    <ul class="pagination paginationRepo">
                        <li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a>
                        </li>
                        <li><a href="#">1</a>
                        </li>
                        <li><a href="#">2</a>
                        </li>
                        <li><a href="#">3</a>
                        </li>
                        <li><a href="#">4</a>
                        </li>
                        <li><a href="#">5</a>
                        </li>
                        <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>