<div class="block right-div">
    <div class="block-title">
        <h2><strong class="block-title-setting">
                  Emails
                </strong></h2>
    </div>
    <div>
        <p class="block-desc">Your <strong>primary docker.cn email address</strong> will be used for account-related notifications (e.g. account changes and billing receipts) as well as any web-based GitHub operations (e.g. edits and merges).</p>
        <ul class="setting-emails">
            <li>
                <div class="setting-emails-email">chliang2030598@qq.com</div>
                <span class="setting-emails-lable-default">Primary</span>
                <span class="setting-emails-lable-visible">Public</span>
                <span class="email-actions">
                    <a href="#"><i class="fa fa-trash-o fa-2"></i></a>
                </span>
            </li>
            <li>
                <div class="setting-emails-email">316384437@qq.com</div>
                <span class="setting-emails-lable-visible">Unverify</span>
                <span class="email-actions">
                    <a href="#"><i class="fa fa-trash-o fa-2"></i></a>
                </span>
            </li>
        </ul>
        <div class="setting-emails-add">
            <strong>Add email address</strong>
            <div class="form-group">
                <div class="form-content">
                    <input type="text" size="30">
                    <button class="setting-email-add-btn">
                        Add
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>