<div class="block right-div">
    <div class="block-title">
        <h2><strong class="block-title-setting">
                  Public profile
                </strong></h2>
    </div>
    <div class="form">
        <div class="picture">
            <div class="form-group">
                <div class="form-title">
                    <lable>Profile picture</lable>
                </div>
                <div class="form-image">
                        <div class="row">
                            <div class="col-md-2">
                                <img alt="陈亮" class="avatar" data-user="7056125" height="70" src="https://avatars1.githubusercontent.com/u/7056125?v=3&amp;u=940812aec4375441d99982e44071867b22bb15b4&amp;s=140" width="70">
                            </div>
                            <div class="col-md-5">
                                <input nv-file-select="" uploader="uploader" multiple="" type="file">
                                <div ng-repeat="item in uploader.queue">
                                	
                                </div>
                            </div>
                    </div>

                </div>
            </div>
            <form name="" class="">
                <div class="form-group">
                    <div class="form-title">
                        <lable>Name</lable>
                    </div>
                    <div class="form-content">
                        <input type="text" size="30" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-title">
                        <lable>Email (will be public)</lable>
                    </div>
                    <div class="form-content">
                        <input type="text" size="30" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-title">
                        <lable>Fullname</lable>
                    </div>
                    <div class="form-content">
                        <input type="text" size="30" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-title">
                        <lable>Mobile</lable>
                    </div>
                    <div class="form-content">
                        <input type="text" size="30" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-title">
                        <lable>Company</lable>
                    </div>
                    <div class="form-content">
                        <input type="text" size="30" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-title">
                        <lable>URL</lable>
                    </div>
                    <div class="form-content">
                        <input type="text" size="30" />
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="button primary">Update profile</button>
                </div>
            </form>
        </div>
    </div>