<div class="block right-div">
    <div class="block-title">
        <h2><strong class="block-title-setting">
Team
</strong></h2>
    </div>
    <div>
        <button type="button" class="btn btn-info" ng-click="createTeam()">Create new team</button>
        <div class="org-group">
            <div class="org-group-gravatar">
            	<img src="https://secure.gravatar.com/avatar/d1b6700884ac0ae368918ad171bb6a75.jpg?s=200&amp;d=mm" class="profile team-profile">
                <img src="https://secure.gravatar.com/avatar/d1b6700884ac0ae368918ad171bb6a75.jpg?s=200&amp;d=mm" class="profile team-profile">
                <img src="https://secure.gravatar.com/avatar/d1b6700884ac0ae368918ad171bb6a75.jpg?s=200&amp;d=mm" class="profile team-profile">
            </div>
            <div class="org-group-name">Dockercn</div>
            <div class="team-group-name">dockercn-bucket</div>
            <div class="org-group-desc">Suppourt docker service.</div>
            <div class="org-group-teams">
                <div class="org-group-teams-team">repository1</div>
                <div class="org-group-teams-team">repository2</div>
            </div>
            <div class="org-group-btn">
                <button class="org-group-btn-delete btn btn-danger">Delete</button>
                <button class="org-group-btn-edit btn btn-default">Edit</button>
            </div>
        </div>
        <div class="org-group">
            <div class="org-group-gravatar">
            	<img src="https://secure.gravatar.com/avatar/d1b6700884ac0ae368918ad171bb6a75.jpg?s=200&amp;d=mm" class="profile team-profile">
                <img src="https://secure.gravatar.com/avatar/d1b6700884ac0ae368918ad171bb6a75.jpg?s=200&amp;d=mm" class="profile team-profile">
                <img src="https://secure.gravatar.com/avatar/d1b6700884ac0ae368918ad171bb6a75.jpg?s=200&amp;d=mm" class="profile team-profile">
            </div>
            <div class="org-group-name">Dockercn</div>
            <div class="team-group-name">dockercn-bucket</div>
            <div class="org-group-desc">Suppourt docker service.</div>
            <div class="org-group-teams">
                <div class="org-group-teams-team">repository1</div>
                <div class="org-group-teams-team">repository2</div>
            </div>
            <div class="org-group-btn">
                <button class="org-group-btn-delete btn btn-danger">Delete</button>
                <button class="org-group-btn-edit btn btn-default">Edit</button>
            </div>
        </div>
        <div class="org-group">
            <div class="org-group-gravatar">
            	<img src="https://secure.gravatar.com/avatar/d1b6700884ac0ae368918ad171bb6a75.jpg?s=200&amp;d=mm" class="profile team-profile">
                <img src="https://secure.gravatar.com/avatar/d1b6700884ac0ae368918ad171bb6a75.jpg?s=200&amp;d=mm" class="profile team-profile">
                <img src="https://secure.gravatar.com/avatar/d1b6700884ac0ae368918ad171bb6a75.jpg?s=200&amp;d=mm" class="profile team-profile">
            </div>
            <div class="org-group-name">Dockercn</div>
            <div class="team-group-name">dockercn-bucket</div>
            <div class="org-group-desc">Suppourt docker service.</div>
            <div class="org-group-teams">
                <div class="org-group-teams-team">repository1</div>
                <div class="org-group-teams-team">repository2</div>
            </div>
            <div class="org-group-btn">
                <button class="org-group-btn-delete btn btn-danger">Delete</button>
                <button class="org-group-btn-edit btn btn-default">Edit</button>
            </div>
        </div>
    </div>
</div>